## My First Jupyter Notebook!

**Introduction:**
Jumping into data science has been a wild ride! I'm new to all this, and at times it feels like I'm learning to decode a secret language made of data and codes. I've started playing around with Python, and terms like Pandas, NumPy, and machine learning are becoming part of my daily vocab. Honestly, machine learning seemed like wizardry at firstâ€”teaching a computer to predict stuff based on data? Super cool.

Here's a short list of some data science languages!



1. Python
2. R
3. SQL
4. Julia

And here's a short list of some data science libraries!

1.   Pandas
2.   NumPy
3.   SciPy
4.   Matplotlib
5.   Scikit-learn

**Table of Data Science tools**

| Category                       | Data Science Tools         |
|--------------------------------|----------------------------|
| Data Management                | MySQL, PostgreSQL          |
| Operating System               | Jupyter, VS Studio, R Studio, Spyder |
| Data Integration & Transformation | Spark SQL, Kubeflow       |
| Data Visualization             | Hue, Kibana, Superset         |
| Model Deployment               | Tensorflow.js, OpenShift         |
| Model Monitoring & Assessment  | Prometheus, ModelDB        |
| Code Asset Management          | Git, GitHub, Gitlab                |
| Data Asset Management          | Kylo, Atlas, Egeria |

Evaluating basic arthemetic expressions (like the infamous facebook math problem)

In [ ]:
6/2*(1+2)

9.0

You can also magically transform minutes into hours with some coding wizardry!

In [18]:
ChangeThisValue = 1000000
minutes = ChangeThisValue
hours = minutes / 60
print(str(hours) + " hrs")

16666.666666666668 hrs

Author's Name: Katarina Jones