# DataScienceEcosystem

**Introduction:**
Here's a quick look at the Data Science Tools and Ecosystem, breaking down the must-know tools and platforms that make data science tick.

**Objectives:**



*   List popular languages for Data Science
*   List some commonly used libraries for Data Science
*   Table of Data Science Tools

Some of the popular languages that Data Scientists use are:


1.    Python
2.    R
3.    SQL
4.    Julia

Some of the commonly used libraries used by Data Scientists include:

1.   Pandas
2.   NumPy
3.   SciPy
4.   Matplotlib
5.   Scikit-learn


| Data Science Tools |
|--------------------|
| Jupyter            |
| VS Studio          |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:

minutes = 200
hours = minutes / 60
print(str(hours) + " hrs")

3.3333333333333335 hrs

## Author

Katarina Jones